app:
  name: fibo
  group: db
  container:
    imagePrefix: {{ .Values | get "commonImagePrefix" "local" }}
    imageTag: {{ .Values | get "commonImageTag" "latest" }}
    image: fibo
    port: 8080
    env:
    - key: HTTP_PORT
      value: 8080
      